:root {
  --background-color: #1e1e1e;
  --text-color: #ffffffab;
  --link-color: #0695adbf;
}

* {
  background-color: var(--background-color) !important;
  color: var(--text-color) !important;
}

a {
  color: var(--link-color) !important;
}
